ul.main-nav {
  background-color: #efefef;
  margin-bottom: 1em;

  .nav-item {

    a,
    button {
      font-size: 1.1em;
      font-weight: 800;
      text-transform: uppercase;
      color: navy;
      padding: 1em;
      border: none;

      &:hover {
        color: mediumblue;
      }

      &:first-of-type {
        padding-left: 1.5em;
      }

      &:last-of-type {
        padding-right: 1.5em;
      }
    }

    .btn {
      background: none;
    }
  }
}
.nav-link.active {
  background-color: lightcyan;
}
.nav {
  justify-content: space-between;
}