ul.main-nav {
  background-color: #efefef;
  margin-bottom: 1em;

  .nav-item {

    a,
    button {
      font-size: 1.1em;
      font-weight: 800;
      text-transform: uppercase;
      color: navy;
      padding: 1em;
      border: none;

      &:hover {
        color: mediumblue;
      }
    }

    .btn {
      background: none;
    }
  }
}

ul.main-nav > .nav-item:first-of-type a {
  padding-left: 35px;
}

.nav-link.active {
  background-color: lightcyan;
}
.nav {
  justify-content: space-between;
}

.env-status {
  padding: 1em;
  background-color: #efefef;

  &.status-development {
    background-color: green;
    color: white;
  }

  &.status-stage {
    background-color: gold;
    color: black;
  }
}