.list-group .list-group-item {
  padding-left: 0;
}

.list-group-item.list-group-flex {
  display: flex;
  flex-direction: row;

  .flex-row-end {
    margin-left: auto;
  }
}

.badge {
  margin-right: 1em;
  padding-top: 0.5em;
}

div.footer-links {
  display: flex;
  flex-direction: row;
  margin: 1em 0;

  &.row-end {
    justify-content: flex-end;
  }
}

.jumbotron .row {
  margin-left: 0;
  margin-right: 0;
}

.btn-m-05 {
  margin: 0 0.5em;
}

.btn-m-10 {
  margin: 0 1em;
}