<h1><%= boss.Name %></h1>

<%= if (len(boss.Contracts) > 0) { %>
  <div class="contract-list">
    <ul class="list-group list-group-flush">
      <%= for (contract) in boss.Contracts { %>
        <li class="list-group-item list-group-flex">
          <span class="badge badge-secondary">$<%= contract.Rate%></span>
          <%= contract.User.FullName() %>
          <%= linkTo(userContractPath({user_id: contract.UserID, contract_id: contract.ID}), {class: "flex-row-end"}) { %>view<% } %>
        </li>
      <% } %>
    </ul>
  </div>
<% } else { %>
  <p>You don't have a contract with this boss.</p>
  <% linkTo(newUserContractsPath({user_id: user.ID, bid: boss.ID}), {class: "btn btn-primary"}) { %>
    Add a contract
  <% } %>
<% } %>