<h1><%= user.FullName() %></h1>
<%= if (current_user.IsAdmin() && user.IsAdmin()) { %>
  <span class="badge badge-secondary">Admin</span>
<% } %>
<p><%= user.Email %></p>

<%= if (current_user.IsAdmin()) { %>
  <%= partial("users/admin_user") %>
<% } %>

<h2>Contracts</h2>
<%= if (len(user.Contracts) == 0) { %>
  <p>No contracts created.</p>
<% } %>
<ul class="list-group list-group-flush">
  <%= for (c) in user.Contracts { %>
    <li class="list-group-item">
      <a href="/users/<%= user.ID %>/contracts/<%= c.ID %>"><%= c.Boss.Name %></a>
    </li>
  <% } %>
</ul>

<div class="footer-links">
  <%= linkTo(newUserContractsPath({user_id: user.ID}), {class: "btn btn-secondary row-end"}) { %>
    Add Contract
  <% } %>
</div>

<div class="user-edit-form jumbotron">
  <h2>Change Password</h2>
  <%= form({action: userPath({user_id: user.ID})}) { %>
    <div class="form-group">
      <label for="CurrentPassword">Current password</label>
      <input id="CurrentPassword" name="CurrentPassword" type="password" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="NewPassword">New password</label>
      <input id="NewPassword" name="NewPassword" type="password" class="form-control" required>
    </div>
    <button class="btn btn-success">Update Password</button>
  <% } %>
</div>